body {
  background-color: #391986;
}
.container {
  width: 1000px;
  margin: auto;
}
.box {
  flex-wrap: wrap;
  display: flex;
  text-align: center;

  justify-content: space-between;
  background-color: #fff;
  margin: 10em;
  box-shadow: 2px 2px #c2bfcd;
  border-radius: 5px;
  padding: 3em;
  border: 15px solid fff;
}

.question {
  display: block;
  padding: 0.5em;
  margin: 0px;
}
.numbers {
  display: flex;
  justify-content: space-between;
  padding: 3em;
  text-align: center;
}

.main-container {
  justify-content: space-evenly;
}

.buttonsend {
  background-color: #5225bd;
  position: absolute;
  display: block;
  width: 100px;
  height: 50px;
  line-height: 2.4em;
  margin: 15px auto;
  top: 175px;
  left: 150px;
  text-align: center;
  line-height: 46px;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 4px 8px 12px 0 rgba(0, 0, 0, 0.1);
}

button {
  text-align: center;
  display: flex;
  justify-content: space-between;
  background: #fff;
  border: 0px solid rgba(0, 0, 0, 0.5);
  padding: 10px 10px 0 10px;
  cursor: pointer;
}
