body {
  background-color: #391986;
}

.container {
  background-color: #fff;
  width: 400px;
  height: 175px;
  padding: 25px;
  margin: auto;
  margin-top: 150px;
  border-radius: 5px;
  box-shadow: 4px 4px #c2bfcd;
}

.question {
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1px;
  margin: 20px;
}

.numbers {
  display: flex;
  justify-content: space-evenly;
  background-color: #fff;
}

.text {
  font-size: 12px;
  color: #858585c0;
  display: flex;
  justify-content: space-between;
  margin-left: 17px;
  margin-right: 17px;
  margin-top: 0px;
}

.buttonsend {
  display: flex;
  cursor: pointer;
  background-color: #5225bd;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
  border: 0px solid #fff;
  margin: auto;
  padding: 10px;
  animation-name: Box;
  animation-duration: 3s;
}

button {
  cursor: pointer;
  background-color: #fff;
  border: 0px solid #fff;
}

.emoji {
  display: flex;
  margin: auto;
  margin-left: 190px;
  padding-bottom: 10px;
}
